@page "/fordel"
@using AspireApp.WebApp.Database
@using AspireApp.WebApp.Services
@using Microsoft.EntityFrameworkCore
@inject HolmenkollenDbContext Db
@rendermode InteractiveServer
@inject DistributeStagesService DistributeStagesService

@if (!_done)
{
    <p>Fordel!</p>
}
else
{
    <p>Fordeling ferdig!</p>
}
<p></p>
<button class="btn btn-primary" @onclick="DistributeGroups">Fordel grupper </button>


@code {
    private bool _done = false;
    private void DistributeGroups()
    {
        _done = true;
        var candidates = Db.Candidates.ToList();
        var races = candidates
            .GroupBy(c => c.RaceId)
            .Select(group => DistributeStagesService.Distribute(group.ToList()));
        
        var raceId = 1;
        foreach (var racegruop in races)
        {
            var race = Db.RaceGroups.Include(r => r.Positions).FirstOrDefault(r => r.Id == raceId);
            if (race is null)
            {
                continue;
            }
            foreach (var p in racegruop)
            {
                race.Positions.Add(p);
            }
            Db.SaveChanges();
            raceId++;
        }

    }
}