@page "/fordel"
@using AspireApp.WebApp.Database
@using AspireApp.WebApp.Services
@inject HolmenkollenDbContext Db
@inject DistributeStagesService DistributeStagesService

<button class="btn btn-primary" @onclick="DistributeGroups">Fordel grupper </button>
@if (positions is not null && positions.Any())
{
    positions
}


@code {
    private List<Position> positions;

    private void DistributeGroups()
    {
        var candidates = Db.Candidates.ToList();
        var races = candidates
            .GroupBy(c => c.RaceId)
            .Select(group => DistributeStagesService.Distribute(group.ToList()));

        var raceId = 1;
        foreach (var racegruop in races)
        {
            var race = Db.RaceGroups.Find(raceId);
            foreach (var p in racegruop)
            {
                Db.Positions.Add(p);
            }
            raceId++;
        }
    }
}