@page "/"
@using AspireApp.WebApp.Database
@using AspireApp.WebApp.Services
@inject HolmenkollenService HolmenkollenService
@rendermode InteractiveServer

<PageTitle>Påmelding</PageTitle>

@if (_raceGroups is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else{

<h1 class="mb-3">Meld deg på!</h1>

<EditForm Model="_model" OnSubmit="Submit" FormName="Candidate">
    <div>
        <label>
            Navn:
            <InputText @bind-Value="_model!.Name" />
        </label>
        
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>
}

@code {
    private CandidateModel? _model;
    private List<RaceGroup>? _raceGroups;

    protected override void OnInitialized()
    {
        _model ??= new();
        _raceGroups = HolmenkollenService.GetRaceGroups();
    }


    private async Task Submit()
    {
        await HolmenkollenService.AddCandidate(_model);
        _model = new();
    }

    public class CandidateModel
    {
        public string? Name { get; set; }
        public List<int>? PreferredStages { get; set; }
        public int? RaceId { get; set; }
    }
}