@page "/"
@using AspireApp.WebApp.Database
@using AspireApp.WebApp.Services
@inject HolmenkollenService HolmenkollenService
@rendermode InteractiveServer

<PageTitle>Påmelding</PageTitle>

@if (_raceGroups is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (_submitted)
{
    <p>
        <em>Takk for påmelding!</em>
    </p>
}
else{

<h1 class="mb-3">Meld deg på!</h1>

<EditForm Model="Model" OnSubmit="Submit" FormName="Candidate">
    <div>
        <label>
            Navn:
            <InputText @bind-Value="Model!.Name" />
        </label>
        
    </div>
    <label
    >Velg etappe: <InputSelect @bind-Value="Model!.PreferredStage" class="form-select">
        @foreach (var location in Enum.GetValues<Location>())
        {
            <option value="@((int)location)">@location.GetReadableName()</option>
        }
    </InputSelect></label>
    <label
    >Velg gruppe<InputSelect @bind-Value="Model!.RaceId" class="form-select">
        @foreach (var race in _raceGroups)
        {
            <option value="@(race.Id)">@race.Name</option>
        }
    </InputSelect></label>
    
    
    <div>
        
        <button type="submit">Submit</button>
    </div>
</EditForm>
}

@code {
    [SupplyParameterFromForm]
    private CandidateModel? Model { get; set; }
    private List<RaceGroup>? _raceGroups;
    private bool _submitted = false;

    protected override void OnInitialized()
    {
        Model ??= new()
        {
            RaceId = 1
        };
        _raceGroups = HolmenkollenService.GetRaceGroups();
    }


    private async Task Submit()
    {
        await HolmenkollenService.AddCandidate(Model);
        Model = new();
        _submitted = true;
    }

    public class CandidateModel
    {
        public string? Name { get; set; }
        public int? PreferredStage { get; set; }
        public int? RaceId { get; set; }
    }
}